## Introduction

In this project, we will analyze the spread of the new corona virus (nCov). We will use two datasets:
    - The John Hopkins University's dataset which contains aggregated daily data for confirmed cases, deaths and recovered patients. 
    https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series
    - The DXY.cn's google sheet which contains information of about 1000 patients. 
    https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/edit#gid=1187587451


Son Huynh
29.02.2020

About getting dataset:

The reddit's datasets group is a good place to look for datasets. For example, you can check out useful sources for nCov data from here: https://www.reddit.com/r/datasets/comments/exnzrd/coronavirus_datasets/

Reddit in general is great for getting tips and browsing discussions. Some of my favorite subreddits are dataisbeautiful, datascience, MachineLearning.

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url_case = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
url_death = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'
url_cured = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'

Let's take a look at the case time series first

In [6]:
case = pd.read_csv(url_case, index_col=[0, 1, 2, 3])

In [8]:
case.sample(10)

                                                     1/22/20  1/23/20  \
Province/State    Country/Region Lat      Long
Fulton County, GA US              33.8034 -84.3963         0        0
Shanghai          Mainland China  31.2020  121.4491        9       16
Shanxi            Mainland China  37.5777  112.2922        1        1
NaN               Philippines     13.0000  122.0000        0        0
                  Belarus         53.7098  27.9534         0        0
                  Ukraine         48.3794  31.1656         0        0
                  Thailand        15.0000  101.0000        2        3
South Australia   Australia      -34.9285  138.6007        0        0
NaN               Norway          60.4720  8.4689          0        0
Fujian            Mainland China  26.0789  117.9874        1        5

                                                     1/24/20  1/25/20  \
Province/State    Country/Region Lat      Long
Fulton County, GA US              33.8034 -84.3963         0        0
Shanghai          Mainland China  31.2020  121.4491       20       33
Shanxi            Mainland China  37.5777  112.2922        1        6
NaN               Philippines     13.0000  122.0000        0        0
                  Belarus         53.7098  27.9534         0        0
                  Ukraine         48.3794  31.1656         0        0
                  Thailand        15.0000  101.0000        5        7
South Australia   Australia      -34.9285  138.6007        0        0
NaN               Norway          60.4720  8.4689          0        0
Fujian            Mainland China  26.0789  117.9874       10       18

                                                     1/26/20  1/27/20  \
Province/State    Country/Region Lat      Long
Fulton County, GA US              33.8034 -84.3963         0        0
Shanghai          Mainland China  31.2020  121.4491       40       53
Shanxi            Mainland China  37.5777  112.2922        9       13
NaN               Philippines     13.0000  122.0000        0        0
                  Belarus         53.7098  27.9534         0        0
                  Ukraine         48.3794  31.1656         0        0
                  Thailand        15.0000  101.0000        8        8
South Australia   Australia      -34.9285  138.6007        0        0
NaN               Norway          60.4720  8.4689          0        0
Fujian            Mainland China  26.0789  117.9874       35       59

                                                     1/28/20  1/29/20  \
Province/State    Country/Region Lat      Long
Fulton County, GA US              33.8034 -84.3963         0        0
Shanghai          Mainland China  31.2020  121.4491       66       96
Shanxi            Mainland China  37.5777  112.2922       27       27
NaN               Philippines     13.0000  122.0000        0        0
                  Belarus         53.7098  27.9534         0        0
                  Ukraine         48.3794  31.1656         0        0
                  Thailand        15.0000  101.0000       14       14
South Australia   Australia      -34.9285  138.6007        0        0
NaN               Norway          60.4720  8.4689          0        0
Fujian            Mainland China  26.0789  117.9874       80       84

                                                     1/30/20  1/31/20  ...  \
Province/State    Country/Region Lat      Long                         ...
Fulton County, GA US              33.8034 -84.3963         0        0  ...
Shanghai          Mainland China  31.2020  121.4491      112      135  ...
Shanxi            Mainland China  37.5777  112.2922       35       39  ...
NaN               Philippines     13.0000  122.0000        1        1  ...
                  Belarus         53.7098  27.9534         0        0  ...
                  Ukraine         48.3794  31.1656         0        0  ...
                  Thailand        15.0000  101.0000       14       19  ...
South Australia   Australia      -34.9285  138.6007        0        0  ...
NaN               Norway          60.4720  8.4689          0        0  ...
Fujian            Mainland China  26.0789  117.9874      101      120  ...

                                                     2/26/20  2/27/20  \
Province/State    Country/Region Lat      Long
Fulton County, GA US              33.8034 -84.3963         0        0
Shanghai          Mainland China  31.2020  121.4491      337      337
Shanxi            Mainland China  37.5777  112.2922      133      133
NaN               Philippines     13.0000  122.0000        3        3
                  Belarus         53.7098  27.9534         0        0
                  Ukraine         48.3794  31.1656         0        0
                  Thailand        15.0000  101.0000       40       40
South Australia   Australia      -34.9285  138.6007        2        2
NaN               Norway          60.4720  8.4689          1        1
Fujian            Mainland China  26.0789  117.9874      294      296

                                                     2/28/20  2/29/20  3/1/20  \
Province/State    Country/Region Lat      Long
Fulton County, GA US              33.8034 -84.3963         0        0       0
Shanghai          Mainland China  31.2020  121.4491      337      337     337
Shanxi            Mainland China  37.5777  112.2922      133      133     133
NaN               Philippines     13.0000  122.0000        3        3       3
                  Belarus         53.7098  27.9534         1        1       1
                  Ukraine         48.3794  31.1656         0        0       0
                  Thailand        15.0000  101.0000       41       42      42
South Australia   Australia      -34.9285  138.6007        2        3       3
NaN               Norway          60.4720  8.4689          6       15      19
Fujian            Mainland China  26.0789  117.9874      296      296     296

                                                     3/2/20  3/3/20  3/4/20  \
Province/State    Country/Region Lat      Long
Fulton County, GA US              33.8034 -84.3963        0       2       2
Shanghai          Mainland China  31.2020  121.4491     337     338     338
Shanxi            Mainland China  37.5777  112.2922     133     133     133
NaN               Philippines     13.0000  122.0000       3       3       3
                  Belarus         53.7098  27.9534        1       1       6
                  Ukraine         48.3794  31.1656        0       1       1
                  Thailand        15.0000  101.0000      43      43      43
South Australia   Australia      -34.9285  138.6007       3       3       5
NaN               Norway          60.4720  8.4689        25      32      56
Fujian            Mainland China  26.0789  117.9874     296     296     296

                                                     3/5/20  3/6/20
Province/State    Country/Region Lat      Long
Fulton County, GA US              33.8034 -84.3963        2     2.0
Shanghai          Mainland China  31.2020  121.4491     339   342.0
Shanxi            Mainland China  37.5777  112.2922     133   133.0
NaN               Philippines     13.0000  122.0000       3     5.0
                  Belarus         53.7098  27.9534        6     6.0
                  Ukraine         48.3794  31.1656        1     1.0
                  Thailand        15.0000  101.0000      47    48.0
South Australia   Australia      -34.9285  138.6007       5     7.0
NaN               Norway          60.4720  8.4689        87   108.0
Fujian            Mainland China  26.0789  117.9874     296   296.0

[10 rows x 45 columns]

Since the John Hopkins dataset contains only aggregated data, we need to transform it into a format that allows us to answer more questions. You can see the ideal dataframe structure in the picture below.

You will need to:
- Stack the dataframe so that each row represents one date in a location. 
- Remove the rows where the cumulative number of cases is zero.
- Make a new column `location` to combine `prov_state` and `country`.
- Make a new column `new_case` to derive the new case number from cumulative case number.
- Convert the date column to datetime object.

After transforming data for number of cases, you can do the same for number of deaths and cureds (or write a function to transform 3 datasets). Then you can use `pd.merge()` to merge them into one dataframe. Hint: try merging `case` with `death` first and then merge that with `cured`. You should use a `left` merge on `['location', 'prov_state', 'country', 'lat', 'long', 'date']` columns

![title](desired_format.png)

## Transforming procedure suggestion

#### First step: Stack the dataframe to turn the date columns into rows

In [9]:
# Hint: use stack() on the dataframe

hide_hint()

In [10]:
# Change the date from horizontal to vertical structure
case = case.stack()



from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

#### Second step: Release the index back to the dataframe as columns

In [11]:
# Hint: use reset_index()

hide_hint()

In [12]:
# Release the index columns back to the dataframe
case = case.reset_index()

hide_code()

#### Third step: Rename the columns

In [13]:
# Hint: use rename() or modify columns attribute directly

hide_hint()

In [14]:
# Rename columns
case.columns = ['prov_state', 'country', 'lat', 'long', 'date', 'cum_case']

hide_code()

In [15]:
# It should look like this
case.head()

  prov_state         country      lat      long     date  cum_case
0      Anhui  Mainland China  31.8257  117.2264  1/22/20       1.0
1      Anhui  Mainland China  31.8257  117.2264  1/23/20       9.0
2      Anhui  Mainland China  31.8257  117.2264  1/24/20      15.0
3      Anhui  Mainland China  31.8257  117.2264  1/25/20      39.0
4      Anhui  Mainland China  31.8257  117.2264  1/26/20      60.0

#### Fourth step: Remove rows where cum_case is zero
Reason: we want the first date for each location to be the date it recorded the first case(s). We don't want all locations to start from 22 January.

In [16]:
# Hint: filter the dataframe

hide_hint()

In [17]:
# Remove rows where cum_case = 0. Because not all countries had the first case from 22/01 (first date in dataset).
case = case[case.cum_case != 0]

hide_code()

In [18]:
case.tail()

             prov_state       country      lat      long    date  cum_case
8906  Ramsey County, MN            US  44.9964  -93.0616  3/6/20       1.0
8951  Washoe County, NV            US  40.5608 -119.6035  3/6/20       1.0
8996   Wayne County, PA            US  41.6739  -75.2479  3/6/20       1.0
9041    Yolo County, CA            US  38.7646 -121.9018  3/6/20       1.0
9086                NaN  Vatican City  41.9029   12.4534  3/6/20       1.0

#### Fifth step: Make a new column `location`
Reason: in the data we have time series for each location. A location can be province/state or a country. Later, if you want to analyze province and country together, it's more convenient to have one `location` column. If province/state is mentioned, `location` will be the province/state. If not, `location` will be the country.

In [19]:
# Hint: use np.where()

hide_hint()

In [20]:
case['location'] = np.where(case.prov_state.isnull(), case.country, case.prov_state)

hide_code()

#### Sixth step: Make a new column `new_case`
Reason: we don't want to work only with cumulative number. We want also the number of new cases for each date. For example: if you want to know how many case Finland have during last week, you can sum the `new_case` column during last 7 days. Cumulative numbers can't provide the same flexibility.

In [21]:
# Hint 1: You can use diff() on cum_case to calculate the difference between each date
# However, be aware that we have multiple time series, one for each location.

hide_hint()

In [22]:
# Hint 2: before using diff(), you can group the data by location.
# Also notice that, the diff() method will make the first row of each time series to be NaN. You need to fill those.
hide_hint()

In [23]:
# Hint 3: Use the first cum_case report to fill the NaNs.

hide_hint()

In [24]:
# Create new_case column.
case['new_case'] = case.groupby('location').cum_case.diff(1)

case.new_case = case.new_case.fillna(case.cum_case)

hide_code()

In [25]:
case.head()

,prov_state,country,lat,long,date,cum_case,location,new_case
0,Anhui,Mainland China,31.8257,117.2264,1/22/20,1.0,Anhui,1.0
1,Anhui,Mainland China,31.8257,117.2264,1/23/20,9.0,Anhui,8.0
2,Anhui,Mainland China,31.8257,117.2264,1/24/20,15.0,Anhui,6.0
3,Anhui,Mainland China,31.8257,117.2264,1/25/20,39.0,Anhui,24.0
4,Anhui,Mainland China,31.8257,117.2264,1/26/20,60.0,Anhui,21.0

#### Seventh step: Convert the date column to datetime

In [26]:
# Hint: Use pd.to_datetime(), the format is month/day/year(2 digits year)

hide_hint()

In [27]:
case.date = pd.to_datetime(case.date, format='%m/%d/%y')

hide_code()

In [28]:
case.tail()

,prov_state,country,lat,long,date,cum_case,location,new_case
8906,"Ramsey County, MN",US,44.9964,-93.0616,2020-03-06,1.0,"Ramsey County, MN",1.0
8951,"Washoe County, NV",US,40.5608,-119.6035,2020-03-06,1.0,"Washoe County, NV",1.0
8996,"Wayne County, PA",US,41.6739,-75.2479,2020-03-06,1.0,"Wayne County, PA",1.0
9041,"Yolo County, CA",US,38.7646,-121.9018,2020-03-06,1.0,"Yolo County, CA",1.0
9086,NaN,Vatican City,41.9029,12.4534,2020-03-06,1.0,Vatican City,1.0

In [29]:
# There are some errors in the data. If you want you can investigate those cases.
case[case.new_case < 0]

,prov_state,country,lat,long,date,cum_case,location,new_case
1441,NaN,Japan,36.0000,138.000,2020-01-23,1.0,Japan,-1.0
1456,NaN,Japan,36.0000,138.000,2020-02-07,25.0,Japan,-20.0
2259,Queensland,Australia,-28.0167,153.400,2020-01-31,2.0,Queensland,-1.0
2261,Queensland,Australia,-28.0167,153.400,2020-02-02,2.0,Queensland,-1.0
3193,Diamond Princess cruise ship,Others,35.4437,139.638,2020-03-06,696.0,Diamond Princess cruise ship,-10.0

#### Eighth step: Make a function to transform all 3 datasets
So that we don't have to do everything again for `death` and `cured`

In [30]:
# Hint: your function can have 2 parameters: url and measure_name ('case', 'death', 'cured')
# The measure_name can be used to make the column name (e.g. cum_death, new_death)

hide_hint()

In [31]:
def load_csv(url, measure_name):
    df = pd.read_csv(url, index_col=[0, 1, 2, 3])
    df = df.stack()
    df = df.reset_index()
    
    cum = 'cum_' + measure_name
    df.columns = ['prov_state', 'country', 'lat', 'long', 'date', cum]
    
    df.date = pd.to_datetime(df.date, format='%m/%d/%y')
    
    df = df[df[cum] != 0]
    
    df['location'] = np.where(df.prov_state.isnull(), df.country, df.prov_state)
    
    new = 'new_' + measure_name
    df[new] = df.groupby('location')[cum].diff(1)
    df[new] = df[new].fillna(df[cum])
    
    return df[['location', 'prov_state', 'country', 'lat', 'long', 'date', cum, new]] # rearrange the columns and return the df

hide_code()

In [32]:
case = load_csv(url_case, 'case')
death = load_csv(url_death, 'death')
cured = load_csv(url_cured, 'cured')

In [33]:
case.shape

(3713, 8)

In [34]:
death.shape

(1006, 8)

In [35]:
cured.shape

(2058, 8)

#### Ninth step: Merge 3 dataframes into 1 dataframe

In [36]:
# Hint: Hint: try merging case with death first and then merge that with cured. 
# You should use a left merge on ['location', 'prov_state', 'country', 'lat', 'long', 'date'] columns

hide_hint()

In [37]:
covid = pd.merge(case, death, how='left', on=['location', 'prov_state', 'country', 'lat', 'long', 'date'])
covid = pd.merge(covid, cured, how='left', on=['location', 'prov_state', 'country', 'lat', 'long', 'date'])

hide_code()

In [38]:
covid.head()

,location,prov_state,country,lat,long,date,cum_case,new_case,cum_death,new_death,cum_cured,new_cured
0,Anhui,Anhui,Mainland China,31.8257,117.2264,2020-01-22,1.0,1.0,NaN,NaN,NaN,NaN
1,Anhui,Anhui,Mainland China,31.8257,117.2264,2020-01-23,9.0,8.0,NaN,NaN,NaN,NaN
2,Anhui,Anhui,Mainland China,31.8257,117.2264,2020-01-24,15.0,6.0,NaN,NaN,NaN,NaN
3,Anhui,Anhui,Mainland China,31.8257,117.2264,2020-01-25,39.0,24.0,NaN,NaN,NaN,NaN
4,Anhui,Anhui,Mainland China,31.8257,117.2264,2020-01-26,60.0,21.0,NaN,NaN,NaN,NaN

#### Finished.

In [5]:
from IPython.display import HTML
import random

def hide_code(for_next=False):
    this_cell = """$('div.cell.code_cell.rendered.selected')"""
    next_cell = this_cell + '.next()'

    toggle_text = 'Click here to show/hide code'  # text shown on toggle link
    target_cell = this_cell  # target cell to control with toggle
    js_hide_current = ''  # bit of JS to permanently hide code in current cell (only when toggling next cell)

    if for_next:
        target_cell = next_cell
        toggle_text += ' next cell'
        js_hide_current = this_cell + '.find("div.input").hide();'

    js_f_name = 'code_toggle_{}'.format(str(random.randint(1,2**64)))

    html = """
        <script>
            function {f_name}() {{
                {cell_selector}.find('div.input').toggle();
            }}

            {js_hide_current}
        </script>

        <a href="javascript:{f_name}()">{toggle_text}</a>
    """.format(
        f_name=js_f_name,
        cell_selector=target_cell,
        js_hide_current=js_hide_current, 
        toggle_text=toggle_text
    )

    return HTML(html)

def hide_hint(for_next=False):
    this_cell = """$('div.cell.code_cell.rendered.selected')"""
    next_cell = this_cell + '.next()'

    toggle_text = 'Click here to show/hide hint'  # text shown on toggle link
    target_cell = this_cell  # target cell to control with toggle
    js_hide_current = ''  # bit of JS to permanently hide code in current cell (only when toggling next cell)

    if for_next:
        target_cell = next_cell
        toggle_text += ' next cell'
        js_hide_current = this_cell + '.find("div.input").hide();'

    js_f_name = 'code_toggle_{}'.format(str(random.randint(1,2**64)))

    html = """
        <script>
            function {f_name}() {{
                {cell_selector}.find('div.input').toggle();
            }}

            {js_hide_current}
        </script>

        <a href="javascript:{f_name}()">{toggle_text}</a>
    """.format(
        f_name=js_f_name,
        cell_selector=target_cell,
        js_hide_current=js_hide_current, 
        toggle_text=toggle_text
    )

    return HTML(html)